.graphContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.graphContainer.mobile {
    flex-direction: column;
}

.lineGraphContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 60%;
};

.pieChartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
};