.lineGraphContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
};

.pieChartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
};