:root {
    /* These will get reset in App.tsx for dark mode */
    --AMPLIFY-PRIMARY: var(--DARK-BLUE);
    --AMPLIFY-INACTIVE-TAB-COLOR: var(--LIGHTEST-RED);
    --AMPLIFY-INACTIVE-TAB-BACKGROUND: #f1f1f1;
    --AMPLIFY-PAGE-BACKGROUND: #cbcbcb;
    --AMPLIFY-FORM-BACKGROUND: white;
    --AMPLIFY-SECONDARY: var(--LIGHTEST-RED);
}

:root, [data-amplify-theme] {
    --amplify-primary-color: var(--AMPLIFY-PRIMARY);
    --amplify-colors-font-primary: var(--AMPLIFY-PRIMARY);
    --amplify-colors-font-secondary: var(--AMPLIFY-PRIMARY);
    --amplify-components-divider-label-background-color: var(--AMPLIFY-FORM-BACKGROUND);
    --amplify-components-loader-stroke-filled: var(--AMPLIFY-PRIMARY);
    --amplify-components-loader-stroke-empty: transparent;

}

[data-amplify-authenticator] [data-amplify-router] {
    background: var(--AMPLIFY-FORM-BACKGROUND);
}

[data-amplify-authenticator][data-variation=modal] {
    background: var(--AMPLIFY-PAGE-BACKGROUND);
}

.amplify-button {
    background: none;
    border: 1px solid var(--AMPLIFY-PRIMARY);
    color: var(--AMPLIFY-PRIMARY) !important;
}

.amplify-button:hover {
    color: var(--AMPLIFY-PRIMARY);
    background: var(--AMPLIFY-SECONDARY);
    border-color: var(--AMPLIFY-PRIMARY);
}

.amplify-input:focus {
    border-color: var(--MY-PRIMARY) !important;
}

.amplify-tabs-item {
    color: var(--AMPLIFY-PRIMARY) !important;
}

.amplify-tabs-item[data-state=active] {
    color: var(--AMPLIFY-PRIMARY);
    border-color: var(--AMPLIFY-PRIMARY) !important;
}

.amplify-tabs-item[data-state=inactive] {
     color: var(--AMPLIFY-INACTIVE-TAB-COLOR) !important;
     background: var(--AMPLIFY-INACTIVE-TAB-BACKGROUND);
}
