:root {
    --SCORE-TRANSITION-SECONDS: 0.5s;
    --HEADER-GRADIENT: var(--BLUE-HEADER-GRADIENT-LIGHT);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background: var(--HEADER-GRADIENT);
}

.titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleAbbreviated {
    color: white;
}

.vs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer.red {
    margin-right: 1rem;
}

.scoreContainer.blue {
    margin-left: 1rem;
}

.scoreBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    text-shadow: none;
    transition: color var(--SCORE-TRANSITION-SECONDS) ease-out, text-shadow var(--SCORE-TRANSITION-SECONDS) ease-out;
}

.score.red.light {
    color: var(--RED-TEXT);
    text-shadow: 1px 1px 0px var(--LIGHTEST-RED), -1px -1px 0px var(--DARKEST-RED);
}

.score.red.dark {
    color: var(--RED-TEXT);
    text-shadow: 1px 1px 0px var(--RED-TEXT-ACCENT-LIGHT), -1px -1px 0px var(--RED-TEXT-ACCENT-DARK);
}

.score.blue.light {
    color: var(--BLUE-TEXT);
    text-shadow: 1px 1px 0px var(--LIGHTEST-BLUE), -1px -1px 0px var(--DARKEST-BLUE);
}

.score.blue.dark {
    color: var(--BLUE-TEXT);
    text-shadow: 1px 1px 0px var(--BLUE-TEXT-ACCENT-LIGHT), -1px -1px 0px var(--BLUE-TEXT-ACCENT-DARK);
}

.profileScore {
    transition: color var(--SCORE-TRANSITION-SECONDS) ease-out, text-shadow var(--SCORE-TRANSITION-SECONDS) ease-out;
}

.profileScore.red {
    color: var(--LIGHTEST-RED);
    text-shadow: 0 0 3px var(--DARKEST-RED);
}

.profileScore.blue {
    color: var(--LIGHTEST-BLUE);
    text-shadow: 0 0 8px var(--DARKEST-BLUE);
}

.scoreTransition {
    color: rgb(255, 222, 35);
    text-shadow: rgb(255, 238, 144) 0 0 10px;
    transition: color var(--SCORE-TRANSITION-SECONDS) ease-in, text-shadow var(--SCORE-TRANSITION-SECONDS) ease-in;
}

.headerSideItemContainer {
    display: flex;
    width: 140px;
}

.headerSideItemContainer.left {
    justify-content: flex-start;
}

.headerSideItemContainer.right {
    justify-content: flex-end;
}

.profileContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    border: 1px solid var(--DARKEST-BLUE);
    border-radius: 50rem;

    padding-left: 1rem;
    margin-left: 0.5rem;
}

.profileContainer.red {
    background: linear-gradient(to top right, rgba(77, 77, 77, 0.2) -10%, var(--DARKEST-RED) 120%);
    border: 1px solid var(--DARKEST-RED);
    box-shadow: inset 0 0 10px var(--DARKEST-RED);
}

.profileContainer.blue {
    background: linear-gradient(to top right, rgba(77, 77, 77, 0.2) -10%, var(--DARKEST-BLUE) 120%);
    border: 1px solid var(--DARKEST-BLUE);
    box-shadow: inset 0 0 10px var(--DARKEST-BLUE);
}
