:root {
    --SCORE-TRANSITION-SECONDS: 0.5s;
    --HEADER-GRADIENT: var(--BLUE-HEADER-GRADIENT-LIGHT);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    background: var(--HEADER-GRADIENT);
}

.titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleAbbreviated {
    color: rgb(255, 222, 35);
}

.vs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer.red {
    margin-right: 1rem;
}

.scoreContainer.blue {
    margin-left: 1rem;
}

.scoreBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score {
    color: white;
    text-shadow: none;
    transition: color var(--SCORE-TRANSITION-SECONDS) ease-out, text-shadow var(--SCORE-TRANSITION-SECONDS) ease-out;
}

.scoreTransition {
    color: rgb(255, 222, 35);
    text-shadow: rgb(255, 238, 144) 0 0 10px;
    transition: color var(--SCORE-TRANSITION-SECONDS) ease-in, text-shadow var(--SCORE-TRANSITION-SECONDS) ease-in;
}

.headerSideItemContainer {
    display: flex;
    width: 140px;
}

.headerSideItemContainer.left {
    justify-content: flex-start;
}

.headerSideItemContainer.right {
    justify-content: flex-end;
}

.profileContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    border: 1px solid #272727;
    border-radius: 50rem;

    padding-left: 1rem;
}

.profileContainer.red {
    background: linear-gradient(to top right, #4d4d4d -10%, var(--DARKEST-RED) 120%);
}

.profileContainer.blue {
    background: linear-gradient(to top right, #4d4d4d -10%, var(--DARKEST-BLUE) 120%);
}
