.buttonContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .buttonContainer {
        flex-direction: column;
    }
}
