:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --THEME-TRANSITION: all 0.25s ease-in-out;

    --LIGHTEST-BLUE: rgb(120, 120, 255);
    --LIGHT-BLUE: rgb(60, 60, 255);
    --BLUE: rgb(30, 30, 255);
    --DARK-BLUE: rgb(0, 0, 150);
    --DARKEST-BLUE: rgb(0, 0, 70);
    --BLUE-SHADOW: rgb(0, 0, 40);
    --BLUE-TEXT: rgb(10, 10, 180);
    --BLUE-TEXT-ACCENT-LIGHT: rgb(40, 40, 250);
    --BLUE-TEXT-ACCENT-DARK: rgb(0, 0, 100);
    --BLUE-BUTTON-GRADIENT: radial-gradient(var(--LIGHT-BLUE), var(--BLUE) 30%, var(--DARK-BLUE) 90%);
    --BLUE-HEADER-GRADIENT-LIGHT: linear-gradient(to bottom right,var(--BLUE), var(--LIGHTEST-BLUE) 120%);
    --BLUE-HEADER-GRADIENT-DARK: linear-gradient(to bottom right,var(--BLUE), var(--DARKEST-BLUE) 200%);

    --LIGHTEST-RED: rgb(255, 120, 120);
    --LIGHT-RED: rgb(255, 60, 60);
    --RED: rgb(255, 30, 30);
    --DARK-RED: rgb(150, 0, 0);
    --DARKEST-RED: rgb(70, 0, 0);
    --RED-SHADOW: rgb(40, 0, 0);
    --RED-TEXT: rgb(180, 10, 10);
    --RED-TEXT-ACCENT-LIGHT: rgb(250, 20, 20);
    --RED-TEXT-ACCENT-DARK: rgb(120, 0, 0);
    --RED-BUTTON-GRADIENT: radial-gradient(var(--LIGHT-RED), var(--RED) 30%, var(--DARK-RED) 90%);
    --RED-HEADER-GRADIENT-LIGHT: linear-gradient(to bottom right,var(--RED), var(--LIGHTEST-RED) 120%);
    --RED-HEADER-GRADIENT-DARK: linear-gradient(to bottom right,var(--RED), var(--DARKEST-RED) 200%);
}

body {
    transition: var(--THEME-TRANSITION);
}
