:root {
    --BUTTON-HEIGHT: 22rem;
    --BUTTON-WIDTH: 22rem;
    --BUTTON-OFFSET: 18px;
    --BORDER-RADIUS: 20%;
}

.pushable {
    height: var(--BUTTON-HEIGHT);
    width: var(--BUTTON-WIDTH);

    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: var(--BUTTON-OFFSET);
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--BORDER-RADIUS);
    will-change: transform;
    transform: translateY(calc(var(--BUTTON-OFFSET) / 2));
    filter: blur(calc(var(--BUTTON-OFFSET) / 2));
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.shadow.red {
    background: var(--RED-SHADOW);
}

.shadow.blue {
    background: var(--BLUE-SHADOW);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--BORDER-RADIUS);
}

.edge.red {
    background: linear-gradient(
        to left,
        var(--DARKEST-RED) 0%,
        var(--DARK-RED) 30%,
        var(--DARK-RED) 70%,
        var(--DARKEST-RED) 100%
    );
}

.edge.blue {
    background: linear-gradient(
        to left,
        var(--DARKEST-BLUE) 0%,
        var(--DARK-BLUE) 30%,
        var(--DARK-BLUE) 70%,
        var(--DARKEST-BLUE) 100%
    );
}

.front {
    height: var(--BUTTON-HEIGHT);
    width: var(--BUTTON-WIDTH);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: var(--BORDER-RADIUS);
    color: white;
    will-change: transform;
    transform: translateY(calc(var(--BUTTON-OFFSET) * -1));
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.front.red {
    background: var(--RED-BUTTON-GRADIENT);
}

.front.blue {
    background: var(--BLUE-BUTTON-GRADIENT);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(calc( -3 * var(--BUTTON-OFFSET) / 2));
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(calc(-1 * var(--BUTTON-OFFSET) / 2));
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(var(--BUTTON-OFFSET));
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(calc(var(--BUTTON-OFFSET) / 4));
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.textContainer {
    font-size: 3rem;
    font-family: Futura;
    font-weight: 600;
}

.textContainer.red {
    color: var(--RED-TEXT);
    text-shadow: 1px 1px 0px var(--RED-TEXT-ACCENT-LIGHT), -1px -1px 0px var(--RED-TEXT-ACCENT-DARK);
}

.textContainer.blue {
    color: var(--BLUE-TEXT);
    text-shadow: 1px 1px 0px var(--BLUE-TEXT-ACCENT-LIGHT), -1px -1px 0px var(--BLUE-TEXT-ACCENT-DARK);
}
